* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(132, 183, 231);
  font-family: Georgia, "Times New Roman", Times, serif;
}
header {
  background-color: rgb(235, 101, 101);
  padding: 10px;
}
/*nav {
  background-color: rgb(142, 229, 229);
  padding: 15px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}*/
nav {
  background-color: rgb(142, 229, 229);
  padding: 15px;
  margin: 5px;
  box-shadow: 25px 16px 50px rgb(182, 224, 31);
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
nav ul li > a {
  text-decoration: none;
}
nav ul li > a:hover {
  text-shadow: 2px 3px #0ec40e;
  font-size: 1.5em;
}
section {
  background-color: rgb(129, 107, 150);
  margin: 2px;
  padding: 15px;
}
/*div {
  display: inline-block;
}*/
.articulo {
  float: left;

  /*display: inline-block;*/
  margin: 15px;
  width: 350px;
  height: 600px;
  background-color: beige;
  padding: 10px;
}

.ar_dos {
  background-color: #1d1331;
}

.articulo p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  padding: 2px;
}
.articulo img {
  margin: 5px;
  border-radius: 10px;
}
hr {
  border: 2px solid #b7ca0a;
  width: 100%;
}

aside {
  background-color: rgb(60, 134, 60);
}
footer {
  background-color: rgb(236, 158, 55);
}
